{% extends 'web/base.html' %}
{% block content %}
    <h2>Добавление/Редактирование дополнительной информации</h2>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p  }}
        <button>Сохранить</button>
    </form>
{% endblock %}