{% extends 'web/base.html' %}
{% block content %}
    <h2>Аналитика</h2>
    <b>Статистика "Максимальный возраст пользователей":</b>
    <p>{{ max_age }}</p>
    <b>Статистика "Минимальный возраст пользователей":</b>
    <p>{{ min_age }}</p>
    <b>Статистика "Количество пользователей с дополнительной информацией":</b>
    <p>{{ count_users_with_additional_info }}</p>
{% endblock %}