<!DOCTYPE html>
<html>
<head>
    <title>Age statistic</title>
</head>
<body>
    <h1><a href="{% url 'main' %}">Age statistic</a></h1>
    <nav>
        <a href="{% url 'main' %}">Главная</a>
        {% if user.is_anonymous %}
            <div style="text-align: right">
                <a href="{% url 'registration' %}">Регистрация</a>
                <a href="{% url 'auth' %}">Авторизация</a>
            </div>
        {% else %}
            <div style="text-align: right">
            {% if not user.is_anonymous %}
                Вы авторизованы как <b>{{ user.username }}</b>
                <a href="{% url 'logout' %}">Выход</a>
            {% endif %}
            </div>
        {% endif %}
    </nav>
    <hr/>
    {% block content %} {% endblock %}
</body>
</html>