{% extends 'web/base.html' %}
{% block content %}

    {% if not user.is_anonymous %}
    {% for additional_info in additional_information %}
        {% if user.id == additional_info.user_id %}
        <p>
            <b>Отчество:</b> {{ additional_info.lastname }}; <b>пол:</b> {{ additional_info.sex }};
            <b>возраст:</b> {{ additional_info.age }}
        </p>
            <p><a href="{% url 'additional_information_delete' user.id %}">
            Удалить дополнительную информацию</a></p>
        {% endif %}
    {% endfor %}
        <p><a href="{% url 'additional_information_add_or_edit' %}">
            Добавить/Редактировать дополнительную информацию</a></p>
        <p><a href="{% url 'analytics' %}">
            Посмотреть аналитику</a></p>
        <p><a href="{% url 'stat' %}">
            Посмотреть cтатистику</a></p>
    {% else %}
        <hr>
        <form action="">
            <b>Фильтры:</b>
                {% for field in filter_form %}
                    {{ field }}
                {% endfor %}
            <button>Найти</button>
            <button name="export" value="csv">Экспорт в csv</button>
            <a href="?">Показать всё</a>
        </form>
    <ul>
        {% for additional_info in additional_information %}
        <li>
            <p>
                <b>Отчество:</b> {{ additional_info.lastname }}; <b>пол:</b> {{ additional_info.sex }};
                <b>возраст:</b> {{ additional_info.age }}
            </p>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    <hr>
    Всего {{ total_count }} записей, {{ additional_information|length }} на этой странице.
    <nav>
    {% if additional_information.has_previous %}
        <p><a href="?page=1">В начало </a></p>
        <p><a href="?page={{ additional_information.previous_page_number }}">
            На предыдущую страницу </a></p>
    {% endif %}

    Страница {{ additional_information.number }} из {{ additional_information.paginator.num_pages }}

    {% if additional_information.has_next %}
        <p><a href="?page={{ additional_information.next_page_number }}">
            На следующую страницу </a></p>
        <p><a href="?page={{ additional_information.paginator.num_pages }}">В конец </a></p>
    {% endif %}
    </nav>
{% endblock %}