{% extends 'web/base.html' %}
{% block content %}
    <h2>Регистрация</h2>
    {% if is_success %}
        <p><b>Спасибо за регистрацию!</b></p>
    {% else %}
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p  }}
            <button>Зарегистрироваться</button>
        </form>
    {% endif %}
{% endblock %}